@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";

:root {

    --color-letter: #111111;
    --color-box: #FBDFDB;
    --background-footer: #EEEEEE;

}

* {

    margin:0;
    padding:0;
    border:0;
    
    
}

body {

    background: white;
    font-family: 'Roboto-Regular';
    color: var(--color-letter);
    width: 100%;
    height: 100%;
   
    
}

header {
  
    padding: 32px;
    
      
}

header .links {

   
    text-align: center;
    padding: 0px;


}

.cardsfood {


    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.cardsfood img  {

    width: 300px;
    height: 140px;
    border-radius: 15px;
    

}

.thebox {

    background-color: var(--color-box);
    position: 230px 93px;
    width: 940px;
    height: 366px;
    opacity: 100%;
    margin: 50px auto;
    border-radius: 20px;
      

}

  




