<!DOCTYPE html>
<html>

<head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles/foodfy.css">
    <link rel="icon" href="/assets/garfo.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- link rel comunica que a file styles é a do css -->
</head>


<body>
    
    <header>
                   
        <div class="menu">
            <ul>
                <div class="logofoodfy"></div>
                 <a href="/"><img src="/assets/logo.png" class="media-object  img-responsive img-thumbnail"></a>
                
                <a href="#">Sobre</a>
                <a href="#">Receitas</a>
                    
                </ul>
                </div>
              
        </div>

        </div>

        <div class="thebox">
            <strong>As melhores receitas</strong>
                <br>
                <br>
                <br>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                <br>
             <p>
                <img src="/assets/chef.png" alt="chefe">
             <p>   

        </div>

        <div class="most-accessed">
            <p>Mais acessadas</p>

        </div>

    <section class="cardsfood">
        
        <div class="card" id = "baconburguer">
            
                <p>
                <img src="/assets/burger.png" alt="burguer">
                <p>
                <strong>
                    Triplo bacon burguer
                </strong>
                <br>
                <div class= "infocard">
                por Jorge Relato<br/>
                </div>
        </div>

        <div class="card" id = "pizza">
            
                <p>
                <img src="/assets/pizza.png" alt="pizza">
                <p>
                <strong>
                    Pizza 4 estações
                </strong>
                <div class= "infocard">
                    por Fabiana Melo<br/>
                </div>
        </div>
        
        <div class="card" id = "espaguete">
            
                <p>
                <img src="/assets/espaguete.png" alt="espaguete">
                <p>
                <strong>
                    Espaguete ao alho
                </strong>
                <div class= "infocard">
                    por Julia Kinoto<br/>
                </div>
        </div>
        <div class="card" id = "lasanha">
            
                <p>
                <img src="/assets/lasanha.png" alt="Lasanha">
                <p>
                <strong>
                    Lasanha mac n' cheese
                </strong>
                <div class= "infocard">
                     por Juliano Vieira<br/>
                </div>
        </div>
        <div class="card" id = "docinhos">
            
                <p>
                <img src="/assets/doce.png" alt="docinho">
                <p>
                <strong>
                   Docinhos pão-do-céu
                </strong>
               <div class= "infocard">
                    por Ricardo Golvea<br/>
                </div>
        </div>
        <div class="card" id = "asinha">
            
                <p>
                <img src="/assets/asinhas.png" alt="asinhas">
                <p>
                <strong>
                  Asinhas de frango ao barbecue
                </strong>
               <div class= "infocard">
                    por Vania Steroski<br/>
                </div>
        <br>
        <br>
        <br>
        </div>
    </section>
    </div>
     
        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>


         
              

</html>