<!DOCTYPE html>
<html>

<head>
    <title>Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/receitas.css">
    <link rel="icon" href="/assets/garfo.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- link rel comunica que a file styles é a do css -->
</head>


<body>
    
    <header>

        <div class="menu">
            <ul>
                <div class="logofoodfy"></div>
                 <a href="index.html"><img src="/assets/logo.png" class="media-object  img-responsive img-thumbnail"></a>
                
                <a href="sobre.html">Sobre</a>
                <a href="receitas.html">Receitas</a>
    

             
    <section class="cardsfood">
        
        <div  id="burger" class="card">
            
                <p>
                <img id="myImg" src="/assets/burger.png" alt="burguer">
                <p>
                <strong>
                    Triplo bacon burguer
                </strong>
                <br>
                <div class= "infocard">
                por Jorge Relato<br/>
                </div>
        </div>

        <div class="card" id = "pizza">
            
                <p>
                <img id="myImg"  src="/assets/pizza.png" alt="pizza">
                <p>
                <strong>
                    Pizza 4 estações
                </strong>
                <div class= "infocard">
                    por Fabiana Melo<br/>
                </div>
        </div>
        
        <div class="card" id = "espaguete">
            
                <p>
                <img id="myImg" src="/assets/espaguete.png" alt="espaguete">
                <p>
                <strong>
                    Espaguete ao alho
                </strong>
                <div class= "infocard">
                    por Julia Kinoto<br/>
                </div>
        </div>
        <div class="card" id = "lasanha">
            
                <p>
                <img id="myImg"  src="/assets/lasanha.png" alt="Lasanha">
                <p>
                <strong>
                    Lasanha mac n' cheese
                </strong>
                <div class= "infocard">
                     por Juliano Vieira<br/>
                </div>
        </div>
        <div class="card" id = "doce">
            
                <p>
                <img id="myImg"  src="/assets/doce.png" alt="docinho">
                <p>
                <strong>
                   Docinhos pão-do-céu
                </strong>
               <div class= "infocard">
                    por Ricardo Golvea<br/>
                </div>
        </div>
        <div class="card" id = "asinhas">
            
                <p>
                <img id="myImg"  src="/assets/asinhas.png" alt="asinhas">
                <p>
                <strong>
                  Asinhas de frango ao barbecue
                </strong>
               <div class= "infocard">
                    por Vania Steroski<br/>
                </div>
        
        </section>
    <section class="cardsfood">

            <div  id="burger" class="card">
            
                <p>
                <img id="myImg"  src="/assets/burger.png" alt="burguer">
                <p>
                <strong>
                    Triplo bacon burguer
                </strong>
                <br>
                <div class= "infocard">
                por Jorge Relato<br/>
                </div>
        </div>

        <div class="card" id = "pizza">
            
                <p>
                <img id="myImg"  src="/assets/pizza.png" alt="pizza">
                <p>
                <strong>
                    Pizza 4 estações
                </strong>
                <div class= "infocard">
                    por Fabiana Melo<br/>
                </div>
        </div>
        
        <div class="card" id = "espaguete">
            
                <p>
                <img id="myImg"  src="/assets/espaguete.png" alt="espaguete">
                <p>
                <strong>
                    Espaguete ao alho
                </strong>
                <div class= "infocard">
                    por Julia Kinoto<br/>
                </div>
        </div>
        <div class="card" id = "lasanha">
            
                <p>
                <img id="myImg"  src="/assets/lasanha.png" alt="Lasanha">
                <p>
                <strong>
                    Lasanha mac n' cheese
                </strong>
                <div class= "infocard">
                     por Juliano Vieira<br/>
                </div>
        </div>
        <div class="card" id = "doce">
            
                <p>
                <img id="myImg"  src="/assets/doce.png" alt="docinho">
                <p>
                <strong>
                   Docinhos pão-do-céu
                </strong>
               <div class= "infocard">
                    por Ricardo Golvea<br/>
                </div>
        </div>
        <div class="card" id = "asinhas">
            
                <p>
                <img id="myImg"  src="/assets/asinhas.png" alt="asinhas">
                <p>
                <strong>
                  Asinhas de frango ao barbecue
                </strong>
               <div class= "infocard">
                    por Vania Steroski<br/>
                </div>

                <br>
                    <br>
         
                        <br>
        </div>
        </div>
    </section>
        </div>
        <div class="modal-overlay">
            <div  class="modal">
                <a class="minimize-modal">
                <span class="material-icons">
                minimize
                </span>
                </a>
       
       
                <a class="maximize-modal">
                <span class="material-icons">
                crop_square
                </span>
                </a>
       
       
                <a class="close-modal">
                <span class="material-icons">
                close
                </span>
                </a>
                 
                <div class="modal-content" id="img01" >
                    <iframe src="" frameborder="0"></iframe>      



                </div>

            </div>

        </div>
    
    
     
        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
         <script src="../scripts/foodfy.js"></script>
</body>

</html>
