
:root {

    --color-letter: #111111;
    --color-box: #FBDFDB;
    --background-footer: #EEEEEE;

}

*{

    margin: 0;
    
}

body {

    background: white;
    color: var(--color-letter);
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
   
    
}

header {
  
    padding: 0px;
    
      
}

.menu {

    width: 310px;
    height: 20px;
    margin: 0px 439px;
    position: relative;
  

}

.menu  a {

    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 10px 10px auto;
    text-decoration: none;
    color: #000;
    position: relative!important;
    padding: 20px 0px 30px;
    

}

.menu a:hover {

    font-weight: bold;


}



.card .infocard {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    
}

.cardsfood {


    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    float: left;
    
}

.cardsfood img  {

    width: 300px;
    height: 140px;
    border-radius: 15px;
    
    

}

.footer    {

    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
    position: absolute;
    bottom: 0;
    top: 1040px;
    
  
}

.footer   p {

   
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
  
   

} 
