
:root {

    --color-letter: #111111;
    --color-box: #FBDFDB;
    --background-footer: #EEEEEE;

}

*{

    margin: 0;
    
}

body {

    background: white;
    color: var(--color-letter);
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
   
    
}

header {
  
    padding: 0px;
    
      
}

.menu {

    width: 310px;
    height: 20px;
    margin: 0px 439px;
    position: relative;
  

}

.menu  a {

    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 10px 10px auto;
    text-decoration: none;
    color: #000;
    position: relative!important;
    padding: 20px 0px 30px;
    

}

.menu a:hover {

    font-weight: bold;


}



.card .infocard {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
    
}

.cardsfood {


    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    float: left;
    
}

.cardsfood img  {

    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    

}

.footer    {

    background-color: #EEEEEE;
    width: 100%;
    height: 62px;
    position: absolute;
    bottom: 0;
    top: 1040px;
    
  
}

.footer   p {

   
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
  
   

} 


/* MODAL */

/* === MODAL === */
/* configuração geral MODAL */
.modal-overlay {

    background-color: white;
    width: 700px;
    height: 400px;
    top: 30%;
    left: 32%;
    position: fixed;
    /* Top = 0 para ocupar a tela toda */
    opacity: 0%;
    visibility: hidden;
}


.modal-overlay.active {

    opacity: 1;
    visibility: visible;

}

.modal-overlay.maximize {

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

iframe {

    position: absolute;
    width: 100%;
    height: 90%;
    top: 40px;
    left: 50px;
    right: 40px;
    
   
   /* top 40px para aparecer o X no canto da tela */
}

.iframecontent {


    color: var(--color-letter);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 330px;
    line-height: 28px;
}

.iframecontent2 {


    color: var(--color-letter);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;

}




/* maximize - closed - minimize (icones)*/

.modal .maximize-modal {

    color: black;
    /* position absolute permite eu colocar em qualquer lugar da tela */
    right: 40px;
    top: 8px;
    cursor: pointer;
    position: absolute;
/* icone maximize-modal */
}


.modal .close-modal {

    color: black;
    position: absolute;
    /* position absolute permite eu colocar em qualquer lugar da tela */
    right: 8px;
    top: 8px;
    cursor: pointer;

}

.modal .minimize-modal {

    color: black;
    /* position absolute permite eu colocar em qualquer lugar da tela */
    right: 70px;
    top: 4px;
    cursor: pointer;
    position: absolute;

}

